<h1 class="text-center">Categories</h1>
<% if logged_in? && current_user.admin? %>
  <div class="col-xs-12 text-center my-3">
    <%= link_to 'New', new_category_path, class: ['btn', 'btn-lg', 'btn-success'] %>
  </div>
<% end %>
<div class='text-center'><%= will_paginate %></div>
<% @categories.each do |category| %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="panel panel-info">
        <div class="panel-body text-center">
          <div class='row'>
            <h2><%= link_to category.name, category_path(category) %></h2>
          </div>
          <div class='row'>
            <small><%= pluralize(category.reports.count, "report") %></small>
          </div>
          <% if logged_in? && current_user.admin? %>
            <div class='row'>
              <%= link_to "Delete", category_path(category), method: :delete, class:"btn btn-danger", data: {confirm: "Are you sure?"} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class='text-center'><%= will_paginate %></div>
